<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/highlight/styles/github-dark.min.css">
    <script src="static/highlight/highlight.min.js"></script>
    <link href="static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    {{ main_page }}
    <script>hljs.highlightAll();</script>
  </body>
</html>
